/*

# ignore all DS_Store everywhere
**/.DS_Store

# include root
!.gitignore
!README.md
!.tmux.conf

# include specific config folders
!.config/
.config/*
!.config/alacritty
!.config/ghostty
!.config/nvim
